.DS_Store
.gradle
**/out/
.idea
build/
*.iml
*.swp
docker-sources/
vendor
*.log
.vscode/
clusttest/**/*.out
spirit-clust-mgr-data/
**/default.etcd/**
**/tektite_etcd_test.lock
integration/java/kafkatest/target/**
integration/java/kafkatest/dependency-reduced-pom.xml
!integration/java/kafkatest/target/test-runner-1.0.0.jar
.tmp.driveupload
.tmp.drivedownload
testutils/*.txt
testUtils/*.lock
.python-version
